---
import Facebook from "@/assets/icons/Facebook.astro";
import TikTok from "@/assets/icons/TikTok.astro";
import WhatsApp from "@/assets/icons/WhatsApp.astro";
import SocialNetworks from "@/components/SocialNetworks.astro";
import Ubication from "@/components/Ubication.astro";
---

<section>
  <div class="flex flex-col md:flex-row justify-center items-center my-10">
    <SocialNetworks href="https://www.facebook.com/oscar.DT10">
      <Facebook />
      Facebook
    </SocialNetworks>
    <SocialNetworks href="https://www.tiktok.com/@jaguaresdeos">
      <TikTok />
      TikTok
    </SocialNetworks>
    <SocialNetworks href="https://wa.me/+51997621348">
      <WhatsApp />
      WhatsApp
    </SocialNetworks>
  </div>
  <Ubication />
</section>
