<section class="flex flex-col justify-center items-center mx-3 lg:mx-0">
  <div class="flex justify-between items-center gap-2 flex-col">
    <p class="text-3xl text-center balance md:text-4xl lg:text-5xl  text-primaryColor uppercase font-black italic ">academia deportiva:</p>
    <img src="/svg/logo4.svg" alt="">
    <!-- <img src="/logo3.svg" alt=""> -->

    
    <!-- <img class="animate-fade-in-down " src="/logo.svg" alt="" /> -->
  </div>
</section>
